@mixin svg-colour {
  background-color: #0f4382;
}

body {
  background-color: #111111;
  font-family: 'poppins', sans-serif;
  color: white;
}

nav {
  font-family: 'poppins', sans-serif;
  
  a {
    color: white;
    text-decoration: none;
  }
}

