@mixin svg-colour {}

body {
  background-color: #111111;
  font-family: 'poppins', sans-serif;
  color: white;
}

nav {
  .logo {
    width: 90px;
  }

  div {
    button {
      color: white;
      border-color: white;
      background-color: #111111;
    }
  }
}

.section1 {
  margin-top: 50px;
  background-image: url(assets/images/backgrounds/Mask\ group.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  p {
    color: #CECECE;
    font-size: 14px;
  }

  div {
    margin: 0 auto;
    width: fit-content;

    button:nth-child(1) {
      background: linear-gradient(270deg, #673ab7, #4b03cd);
      color: white;
      width: 200px;
    }

    button:nth-child(2) {
      background-color: #00000033;
      border: 1px solid #828282;
      color: white;
      width: 200px;

      img {
        width: 23px;
        height: 23px;
      }
    }
  }

  .bobo {
    background: radial-gradient(circle, #6f30d827, #26185000);
  }
}

.section2 {
  margin-top: 100px;
}

.section3 {
  margin-top: 100px;

  .s3head {
    margin: 0 auto;
    width: fit-content;
    border: 1px solid;
    border-radius: 50px;
    background: linear-gradient(135deg, #ecc8c833, #0000001f, #ffffff05);
  }

  p {
    img {
      width: 22px;
      height: 22px;
    }
  }
}

.section4 {
  margin-top: 100px;

  .div12 {
    width: 300px;
    margin: 0 auto;
    margin-top: 30px;
    padding: 30px;
    border: 1px solid #38353d;
    border-radius: 20px;
    background-color: #0d011f;
    background-image: url(assets/images/backgrounds/div12.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    img {
      padding: 10px;
      background-color: #673ab7;
      border-radius: 10px;
      margin-bottom: 40px;
      height: 82px;
      width: 82px;
    }

    h6 {
      margin-bottom: 10px;
    }

    p {
      color: #c1cfd8;
      font-size: 16px;
    }
  }
}

.section5 {
  padding-top: 100px;

  .exdiv {
    width: 190px;
    margin: 0 auto;
    border-radius: 15px;
    border: 1px solid #38353d;
    margin-top: 30px;

    img {
      width: 40px;
      height: 40px;
    }

    p {
      margin: 0 !important;
    }

  }

  .exdiv:nth-child(1) {
    background: linear-gradient(135deg, #3a00a1, #9763f4);
  }

  .bcse {
    width: fit-content;
  }

  .exdiv2 {
    margin-top: 30px;

    img {
      width: 60px;
      height: 60px;
      border: 1px solid #38353d;
      border-radius: 50%;
      overflow: visible;
    }

    div {
      p {
        font-size: 14px;
        color: #c1cfd8;
      }
    }
  }
}

.section6 {
  margin-top: 90px;

  .s6head {
    .the2 {
      border: 1px solid #38353d;

      div:nth-child(1) {
        border: 1px solid #38353d;
        background-color: #4a46fc;
      }
    }

    .red25 {
      transform: translate(-28px, -15px) rotate(45deg);
    }
  }

  .tick {
    width: 22px;
    height: 22px;
  }

  .bigthree {
    width: fit-content;
    margin: 0 auto;

    .big1 {
      border: 1px solid #38353d;
      border-radius: 15px;

      button {
        color: white;
        background: linear-gradient(135deg, #0000001f, #ecc8c833, #ffffff05);
      }
    }

    .big2 {
      border: 1px solid #38353D;
      border-radius: 15px;
      background: linear-gradient(135deg, #ecc8c833, #0000001f, #ffffff05);

      button {
        background: linear-gradient(270deg, #3a00a1, #9763f4);
        color: white;
      }
    }

    .big3 {
      border: 1px solid #38353d;
      border-radius: 15px;

      button {
        color: white;
        background: linear-gradient(135deg, #0000001f, #ecc8c833, #ffffff05);
      }
    }
  }
}

.section7 {
  margin-top: 90px;

  div {
    margin: 0 auto;
    width: fit-content;
    border: 1px solid #38353d;
    border-radius: 15px;
    background: linear-gradient(135deg, #ecc8c833, #0000001f, #ffffff05);

    p {
      border-bottom: 1px solid #38353d;
      margin-bottom: 0;
    }
  }
}

footer {
  margin-top: 90px;
  background: radial-gradient(circle, #6f30d827, #26185000, rgba(38, 24, 80, 0) 100%);

  .fd1 {
    div {
      button:nth-child(1) {
        background: linear-gradient(90deg, #673ab7, #4b03cd);
        color: white;
      }

      button:nth-child(2) {
        color: white;
      }
    }
  }

  section {
    width: fit-content;
    margin: 0 auto;
    margin-top: 90px;

    div:nth-child(1) {
      p {
        color: #c0c0c0;
      }
    }

    div:nth-child(2) {
      margin-top: 50px;

      a {
        color: #c0c0c0;
        text-decoration: none;
      }
    }

    div:nth-child(3) {
      margin-top: 50px;

      a {
        color: #c0c0c0;
      }

      div {
        margin-top: 10px;
      }
    }
  }
}

@media (min-width: 767px) {
  nav {
    width: 75%;
    margin: 0 auto;
  }

  //section1
  .bobo {
    > * {
      width: 75%;
      margin: 0 auto;
    }

    h1, p {
      width: 560px;
    }
  }

  //section2
  .section2 {
    h4 {
      width: 558px;
      margin: 0 auto;
    }
  }

  //section3
  .section3 {
    width: fit-content;
    margin: 0 auto;

    .s3small {
      max-width: 1000px;
      margin: 0 auto;
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 20px;

      .h4p {
        text-align: left;

        h4 {
          font-size: 40px;
        }
      }

      .gg {
        width: 50%;
      }

    }
  }

  //section4
  .body12 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    width: fit-content;
    margin: 0 auto;
    gap: 50px;

    .div12 {
      margin-top: 0;
    }
  }

  //section5
  .s5h1 {
    max-width: 920px;
  }

  .bcse {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    max-width: 920px;
    margin: 0 auto;
    gap: 10px;
  }

  //footer
  .fd2 {
    div:nth-child(1) {
      max-width: 300px;
    }
  }
}

@media (min-width: 1023px) {
  .body12 {
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
  }
}